<div style="background-image: url({{vm.icon.bgImg}});">
  <div layout layout-align="center">
    <h1>{{vm.icon.name}}</h1>
  </div>

  <div style="width:90%" layout ng-show="global.status._id">
    <span flex="5"></span>
    <form ng-submit="vm.addComment()" layout-padding flex>
      <md-input-container flex>
        <label>Comment</label>
        <input type="text" ng-model="vm.comment.message" />
      </md-input-container>
      <md-button type="submit" flex>Submit</md-button>
    </form>
    <span flex="5"></span>
  </div>

  <br><hr><br>

  <div layout>
    <span flex="5"></span>
    <md-card flex="90" style="background-color:rgba(102, 130, 131, 0.5)">
      <md-card-content>
        <div layout layout-align="center">
          <h3>Comments:</h3>
        </div>
        <br>
        <div layout layout-align="center">
          <p ng-show="vm.icon.comments.length == 0;">No comments yet, why don't you kick things off!</p>
        </div>
        <div ng-repeat="c in vm.icon.comments">
          <div layout>
            <p> {{c.message}} </p>
            <span flex></span>
            <md-button ng-show="global.status._id == c.createdBy" ng-click="vm.editCom($event, c);vm.editSound();">Edit</md-button>
            <md-button ng-show="global.status._id == c.createdBy" ng-click="vm.deleteComment(c)">Delete</md-button>
          </div>
          <hr>
        </div>
      </md-card-content>
    </md-card>
    <span flex="5"></span>
  </div>


</div>
